*{
margin:0;
padding:0;
font-family: Arial, sans-serif;
}

body{
text-align:center;
background-image:url("background.jpg");
background-size:cover;
background-position:center;
background-attachment:fixed;
}

header{
background-color:pink;
color:white;
padding:30px;
}

nav{
text-align:center;
background-color:white;
padding:15px;
}

nav a{
display:inline-block;
margin:5px;
padding:8px 16px;
text-decoration:none;
color:#ff4da6;
border:2px solid #ff4da6;
border-radius:20px;
font-weight:bold;
}

nav a:hover{
background-color:#ff4da6;
color:white;
}

#container{
width:800px;
margin:40px auto;
padding:30px;
border-radius:10px;

}

.profile{
width:200px;
display:block;
margin:20px auto;
border-radius:50%;
border:6px solid pink;
}

section{
background-color:#ffe4ec;
padding:25px;
margin-top:25px;
border-radius:10px;
}

h2{
color:#d63384;
margin-bottom:10px;
}

ul,ol{
text-align:left;
display:inline-block;
}

a{
text-decoration:none;
color:#ff4da6;
font-weight:bold;
}

a:hover{
color:#d63384;
}

table{
width:100%;
margin-top:10px;
border-collapse:collapse;
}

th,td{
border:1px solid pink;
padding:10px;
}

th{
background-color:#ff69b4;
color:white;
}

#goal{
background-color:#ffd6e7;
padding:20px;
border-radius:10px;
margin-top:20px;
}

footer{
margin-top:30px;
padding:20px;
background:#ffb6c1;
color:white;
}



